In [3]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [25]:
pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 330.0 kB/s eta 0:00:00a 0:00:01
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [47]:
df = pd.read_csv('Downloads/SQL projects/Cohort Retention Analysis/Online Retail.csv',sep = ';',on_bad_lines='skip')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1.12.2010 8:26,"2,55",17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1.12.2010 8:26,"3,39",17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1.12.2010 8:26,"2,75",17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1.12.2010 8:26,"3,39",17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1.12.2010 8:26,"3,39",17850.0,United Kingdom

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  object
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 33.1+ MB

In [53]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [55]:
df['CustomerID'] = df['CustomerID'].fillna(0).astype('int').astype('str')

In [57]:
df.dtypes

InvoiceNo      object
StockCode      object
Description    object
Quantity        int64
InvoiceDate    object
UnitPrice      object
CustomerID     object
Country        object
dtype: object

In [23]:
max(df['Description'].str.len())

35.0

In [27]:
max(df['InvoiceDate'].str.len())

16

In [29]:
max(df['UnitPrice'].str.len())

9

In [39]:
max(df['CustomerID'].str.len())

7

In [41]:
max(df['Country'].str.len())

20

In [5]:
engine = create_engine("mysql+pymysql://root:shreya12@127.0.0.1:3306/sql_practice")
conn = engine.connect()

In [59]:
df.to_sql('online_retail',engine,index=False,if_exists = 'replace')

541909